*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background: linear-gradient(90deg, #2850D1 0%, #2E59E2 100%);
    display: flex;
    align-items: center;
    height: 6em;
    justify-content: flex-start;
    gap: 30em;
}

.menu ul{
    display: flex;
    list-style: none;
    gap: 1.875em;
    flex-grow: 2;
}
    .menu ul li{
        padding: 0.5em;
        background-color: #ffffff;
        border-radius: 0.2em 1em;
    }
    .menu ul li a{
        text-decoration: none;
        gap: 1.875em;
        color: #2850D1;
    }